{% extends 'CoreGameBundle:Layout:login.html.twig' %}
{% block script %}

$(function(){
	$.ajax({
		
	});
})

{% endblock %}
{% block games %}
<ul class="games">
	
	<li class="turn {% if (game.getOwnerTurn() == true and app.user == game.owner.username) or (game.getOwnerTurn() == false and app.user == game.player.username) %}fire{% else %}wait{% endif %}">
	<div class="row-fluid">
		<div class="span4">
			<p class="title">{{ game.owner.username }}</p>
			<p class="results"><b>Aciertos:</b>{{ game.countOwnerFired() }}</p>
			<p class="results"><b>Exp:</b> {{ game.owner.exp }}</p>
			
		</div>
		<div class="span3">
			<p class="title">{{ game.player.username }}</h6></p>
			<p class="results"><b>Aciertos:</b> {{ game.countPlayerFired() }}</p>
			<p class="results"><b>Exp:</b> {{ game.player.exp }}</p>
		</div>
		<div class="span4">
		{% if (game.getOwnerTurn() == true and app.user == game.owner.username) or (game.getOwnerTurn() == false and app.user == game.player.username) %}
		<a href="{{ path('game_play',{'game':game.id}) }}" class="btn btn-large btn-warning pull-right">Dispara</a>{% else %}
		<a href="{{ path('game_play',{'game':game.id}) }}" class="btn btn-large pull-right">Ver Partida</a>
		{% endif %}
	
		
		</div>
	</div></li>
</ul>
{% endblock %}