<html>
<head>
	<title>Hunde la Flota</title>
	<!-- fonts --><link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>


	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="{{ asset('bundles/coregame/js/resize.js') }}"></script>
	<script src="{{ asset('bundles/coregame/js/effects.js') }}"></script>
	<script src="{{ asset('bundles/coregame/js/transitions.js') }}"></script>
	<script src="{{ asset('bundles/coregame/js/slider.js') }}"></script>
	<script src="{{ asset('bundles/coregame/js/spin.js') }}"></script>
	<script src="{{ asset('bundles/coregame/js/json.js') }}"></script>

	<!-- Libs n tools -->
	<link href="{{ asset('bundles/coregame/css/default.css') }}" rel="stylesheet">
	<link href="{{ asset('bundles/coregame/css/buttons.css') }}" rel="stylesheet">
	<link href="{{ asset('bundles/coregame/css/gradients.css') }}" rel="stylesheet">
	<link href="{{ asset('bundles/coregame/css/slider.css') }}" rel="stylesheet">
	<link href="{{ asset('bundles/coregame/css/game.css') }}" rel="stylesheet">
	<link href="{{ asset('bundles/coregame/css/games.css') }}" rel="stylesheet">
	<link href="{{ asset('bundles/coregame/css/maps.css') }}" rel="stylesheet">
	
	<!-- View styles -->
	<link href="{{ asset('bundles/coregame/css/main.css') }}" rel="stylesheet">
	
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
 
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/coregame/images/touch-icon.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/coregame/images/touch-icon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/coregame/images/touch-icon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/coregame/images/touch-icon.png') }}">

	<script>
	{% block script %}
	{% endblock %}
	</script>
	<style>

	</style>
</head>
<body>
{% block body %}
<div id="login">

<div class="header gradient3">
	<center><h1 class="title"><span></span>Hunde la Flota</h1></center>
</div>

<div class="box orange">
<h3>Identifícate o regístrate</h3>
<hr>

  {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}

</div>

</div>
{% endblock %}
</body>
</html>