{% extends 'CoreGameBundle::bootstrap.html.twig' %}
{% block body %}
 {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
{% endfor %}
        
<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<center><a class="brand" href="#">Battleship</a></center>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1">
		&nbsp;
		</div>
		<div class="span10 well shadow">
		<h1 style="float:left;">Entra sin contraseña</h1>
		<div style="float:right">
			<a class="btn btn-warning btn-large" href="{{ path('game_facebook_login') }}"><img src="{{ asset('bundles/coregame/images/facebook.png') }}"> Conecta con Facebook</a>
		</div>
		<div style="clear:both"></div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1">
		&nbsp;
		</div>
		<div class="span10 well shadow">
			<form id="loginform" action="{{ path("game_check") }}" method="post" clas="form">

<fieldset>
    <legend>Login</legend>
    <div class="control-group">
      <label class="control-label" for="input01">Usuario</label>
      <div class="controls">
        <input type="text" class="input" name="_username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Clave</label>
      <div class="controls">
        <input type="password" class="input" name="_password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Recordar</label>
      <div class="controls">
 		<input type="checkbox" id="remember_me" name="_remember_me" value="on" /> 
      </div>
    </div>
  </fieldset>
  {% block csrf_input %}
   <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	{% endblock %}
  			<div class="loginbuttons">
				
				<a href="{{ path('game_register') }}" class="btn btn-large btn-danger">Crear una cuenta</a>
				<input type="submit" id="_submit" name="_submit" value="Acceder" class="btn btn-primary btn-large"/> 
				<div style="clear:both"></div>
				</div>
				
                                       
                </form>
		</div>
	</div>
</div>                
{% endblock body %}
        
