{% extends 'CoreGameBundle::layout.html.twig' %}
	{% block script %}
	function spiner(){
						var step = $("ul#slider").attr("margin");

	var opts = {
  lines: 13, // The number of lines to draw
  length: 5, // The length of each line
  width: 3, // The line thickness
  radius: 21, // The radius of the inner circle
  rotate: 0, // The rotation offset
  color: '#FFF', // #rgb or #rrggbb
  speed: 1.4, // Rounds per second
  trail: 43, // Afterglow percentage
  shadow: true, // Whether to render a shadow
  hwaccel: true, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: 'auto', // Top position relative to parent in px
  left: 'auto' // Left position relative to parent in px
};
var target = document.getElementById('loading');
var spinner = new Spinner(opts).spin(target);
$('ul#slider').transition({ x: -step*2 }, 700, 'snap');				
	}
	$(function(){
		$("ul.menu li a:eq(1)").click(function(){
			var step = $("ul#slider").attr("margin");
			//$("").animate({ 'margin-left' : '-'+step+'px' });
			$(this).transition({opacity: 0,scale: 1.6},300,function(){
				$('ul#slider').transition({ x: -step }, 700, 'snap');				
				$(this).parent().fadeOut();
			
			})
			
			
		})
		$(".tablero .block").click(function(){
			$(this).addClass("selected");
			var qty = $(".tablero div.selected").length;
			var left = 8-qty;
			var text= left+"x";

			$("li#text").html(text);

			$('li#text').transition({
    			perspective: '100px',
    			rotateX: '360deg'
			});

			
			if(qty == 8){
				var blocks = new Array();
				$(".block").each(function(){
					if($(this).hasClass('selected')){
						var block = new Array();
						block[0] = parseInt($(this).attr("c"))
						block[1] = parseInt($(this).attr("f")); 
						blocks.push(block);
					}
				});
				console.log(blocks);
				var json_blocks = $.toJSON(blocks);
				
				$.ajax({
					url: '{{ path('game_join') }}',
					type: 'POST',
					data: { 'blocks' : json_blocks },
					dataType: 'JSON',
					success : function(response){

						window.location.href="{{ path('game_play', { 'game' : '' }) }}/"+response.game;
					}
				})
				
				//spiner();
				//oncatch


			}

		})
	})
	{% endblock %}
{% block body %}
<div id="login">

<div class="slider-container">
<ul id="slider">
<li>
<div class="header gradient3">
	<center><h1 class="title"><span></span>Partida rápida</h1></center>
</div>
<h2>Selecciona la dificultad</h2>
<ul class="menu">
<li><a class="button large" href="#">Facil (6x6)</a></li>
<li><a class="button large blue" href="#">Normal (8x8) </a></li>
<li><a class="button large" href="#">Dificil (10x10) </a></li>
</ul>
</li>
<li>
<h2>Configura tus puntos clave</h2>
<div class="items">
	<ul>
		<li id="text" class="text">8x</li>
		<li class="image"><a href="#"><img width="100px" src="{{ asset('bundles/coregame/images/ships/1.png') }}"></a></li>
	</ul>
</div>
<div class="tablero" style="">
	{% for i in range(1,8) %}
	{% for j in range(1,8) %}
	<div class="block" c="{{ i }}" f="{{ j }}" >
	</div>
	{% endfor %}
	<div style="clear:both"></div>
	{% endfor %}
</div>

</li>
<li>
<center>
<div id="loading"><p>Cargando</p></div>
</center>
</li>
</ul>
</div>
<center><a class="button large" href="{{ path('game') }}">Volver atrás</a></center>



{% endblock %}