{% extends 'CoreGameBundle::bootstrap.html.twig' %}
	{% block script %}
	function popMenu(){
		$("#play").transition({ scale: 1.8, opacity: 0 },500,function(){
			$(this).css("display","none");
			$("#menu").css("opacity","0");
			$("#menu").css("scale","2");
			$("#menu").css("display","block");
			$("#menu").transition({ scale: 1, opacity: 1 },500);
		});
			
	}
	function closeMenu(){

		$("#menu").transition({ scale: 1.8, opacity: 0 },500,function(){
			$(this).css("display","none");
			$("#play").css("opacity","0");
			$("#play").css("scale","2");
			$("#play").css("display","block");
			$("#play").transition({ scale: 1, opacity: 1 },500);
		});
	}
	function loadStatus(map,auto){
	$.ajax({
				url: '{{ path('game_status',{ 'gameid' : game.id }) }}',
				dataType: 'JSON',
				success: function(response){

						printTurn(response.turn);
						if(response.turn && auto){
							//map = "enemigo";
						}else{
							//map = "base"
						}
						if(map =="base"){

							printMap(response.me);
						}else{
							printMap(response.tu);
						}
						
				}
			})
	}
	function updateStatus(auto){
		var map =$(".tablero").attr("map");
		if(map=="base"){
			loadStatus(map,auto);
		}else{
			loadStatus(map,auto);
		}
	}
	function printTurn(turn){
	
			$("ul.nav li.turno").removeClass("loading");
			$("ul.nav li.turno").removeClass("oponent");
			$("ul.nav li.turno").removeClass("player");
			
		if(turn){
			$("ul.nav li.turno").addClass("oponent");
			$("ul.nav li.turno").html("Tu Turno");
			
		}else{
			$(".nav .turno").addClass("player");
			$("ul.nav li.turno").html("Esperando jugador");
		}
	}
	function printMap(blocks){
				var map = $(".tablero").attr("map");
				var changed = $(".tablero").attr("changed");
				var turn = $(".tablero").attr("opponent-turn");

				var printed_water = $(".tablero .block.water").length;
				var printed_fire = $(".tablero .block.fire").length;							
				var printed_blocks = parseInt(printed_fire)+parseInt(printed_water);

				var print_blocks = 0;
				$(".tablero .block").each(function(){
					$(this).removeClass("fire");
					$(this).removeClass("ship");
					$(this).removeClass("llamas");
					$(this).removeClass("selected");
					$(this).removeClass("water");
					$(this).html(" ");
					
					});
					
					for(movement in blocks){
						print_blocks = print_blocks+1;
						var r= blocks[movement];
						var html_block = ".tablero .block#"+movement;
						$(".tablero .block#"+movement).addClass('selected');
						$(html_block).transition({perspective: '100px', rotate3d: '1, 1, 0, 360deg'});	
						$(html_block).addClass(r.status);
						
					}

					var difference = (print_blocks - printed_blocks);

					if(turn){
						map ="base";
					}else{
						map = "enemigo";
					}
					if(difference == 1){
						if(changed != "changed"){
							if(map == "base"){
								setTimeout("setMap('enemigo')",1500);
								
							}else{
								setTimeout("setMap('base')",1500);
							}
						}
							$(".tablero").attr("changed","not");
					}
					
					printShips();
				
	}
	
	function printShips(){
		$(".tablero .block.ship").each(function(){
			var width = $(this).width();
			var w = width*0.8;
			$(this).html("<img src='{{ asset('bundles/coregame/images/ships/1.png') }}' style='margin:2px;' width='"+w+"px'>");
		});
		$(".tablero .block.ship.fire").each(function(){
			var width = $(this).width();
			var w = width*0.8;
			var f = width*0.4;
			$(this).html("<img src='{{ asset('bundles/coregame/images/ships/1.png') }}' style='margin:2px;' width='"+w+"px'><img src='{{ asset('bundles/coregame/images/fire.png') }}' style='margin-top: 8px; position: absolute; margin-left: -"+parseInt(w/2)+"px;' width='"+f+"px'>");
			
		});
	}
	function setMap(map){
		var oldmap = $(".tablero").attr("map");
		$(".tablero").attr("map",map);
		if(oldmap != map){
			$(".tablero").attr("changed","changed");
		}else{
			$(".tablero").attr("changed","not");
		}
		$(".nav li").each(function(){
			$(this).removeClass("active");
		})
		$(".nav li a."+map).parent().addClass("active");
		
		updateStatus(false);

	}
	
	$(function(){
		updateStatus(false);

		setInterval(function(){
			updateStatus(false);			
		},3000);
		$(".nav li a.base").click(function(){
			setMap("base");

		});
		$(".nav li a.enemigo").click(function(){
			setMap("enemigo");
		});
		$(".nav li a.menu").click(function(){
			
			popMenu();
			
		});
		$("#menu a.return").click(function(){
			closeMenu()
		})
		$(".tablero .block").click(function(){
						var map = $(".tablero").attr("map");
			var step = $("ul#slider").attr("margin");
			var c=  $(this).attr("c");
			var f=  $(this).attr("f");
			var game=  $(".tablero").attr("game");
			
			if(map == "enemigo"){
			$(this).addClass("selected");
			
			$.ajax({
				url: '{{ path('game_shot') }}',
				type: 'POST',
				data: { 'game' : game, 'c' : c, 'f' : f },
				dataType: 'JSON',
				success: function(response){
					if(response.status == 310){
						alert("Espera tu turno!");
					}else if(response.status == 320){
						alert("Partida Finalizada!");
						popMenu();
					}else{
						updateStatus(true);
					}
				}
			})
			
			}
		})
	})
	{% endblock %}
{% block body %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<ul class="nav pull-left">
				<li class="active"><a href="#" class="base"><b class="icon-flag icon-white"></b>Base</a></li>
				<li><a href="#" class="enemigo"><b class="icon-screenshot icon-white"></b>Enemigo</a></li>
				<li><a href="#menu" class="menu"><b class="icon-cog icon-white"></b> Menu</a></li>
				<li class="turno loading">Cargando…</a></li>
			</ul>
			
			<div class="pull-right" style="margin-top: 5px;">
					<div class="lifes enemigos"></div>
					<div class="lifes base"></div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid" style="margin: 0px; padding: 0px; margin-top:40px;" id="play">
<div class="tablero map1" oponent="null" map="base" changed="not" style="" game="{{ game.id }}" opponent-turn="1">
	{% for i in range(1,8) %}
	{% for j in range(1,8) %}
	<div class="block" id="{{ i }}{{ j }}" c="{{ i }}" f="{{ j }}" >
	</div>
	{% endfor %}
	<div style="clear:both"></div>
	{% endfor %}
</div>
</div>


<div class="container-fluid hide" style="margin: 0px; padding: 0px; margin-top:80px;" id="menu">
	<div class="row-fluid">
		<div class="span1">
		&nbsp;
		</div>
		<div class="span10 well shadow">
    		<h1>Partida</h1>
    		<hr>
    		<div class="row-fluid">
    			<div class="span4">
    				<h6>Cargando resumen de partida…</h6>

    			</div>
    			<div class="span4">
    			</div>
    			<div class="span4">
    			</div>
    		</div><br>
<hr><br>
  			<div class="controls">
    			<a href="{{ path('game') }}" class="btn btn-success menu">Menu Principal</a>
    			<a href="#" class="btn btn-primary return">Volver</a>
  			</div>
  			
  		</div>
  	</div>
</div>

{% endblock %}