{% extends 'CoreGameBundle::layout.html.twig' %}
	{% block script %}
	function updateStatus(){
	$.ajax({
				url: '{{ path('game_status',{ 'gameid' : game.id }) }}',
				dataType: 'JSON',
				success: function(response){
					
						$(".tablero").attr("opponent-turn",response.game.opponent_turn);
						console.log(response)
						printMap(response.tu);
				}
			})
	}
	function printMap(blocks){
	
					for(movement in blocks){
					
						var r= blocks[movement];
						var html_block = ".tablero .block#"+movement;
						$(".tablero .block#"+movement).addClass('selected');
						if($(html_block).hasClass(r.status)){
							//alert("had it")
						}else{
							$(html_block).transition({perspective: '100px', rotate3d: '1, 1, 0, 180deg'});
							$(html_block).addClass(r.status);
							
						}
						
					}
	}
	
	$(function(){
		updateStatus();

		setInterval(function(){
			updateStatus();			
		},3000);
		
		$(".tablero .block").click(function(){
			var step = $("ul#slider").attr("margin");
			var c=  $(this).attr("c");
			var f=  $(this).attr("f");
			var game=  $(".tablero#propio").attr("game");
			
			$(this).addClass("selected");
			
			$.ajax({
				url: '{{ path('game_shot') }}',
				type: 'POST',
				data: { 'game' : game, 'c' : c, 'f' : f },
				dataType: 'JSON',
				success: function(response){
					if(response.status == 310){
						alert("Espera tu turno!");
					}else{
						updateStatus();
					}
				}
			})
			
			//push movement to the server (c,f)
			//if got fired->updateStats()
			//			  ->addClass('fire')
			//else
			//			  ->addClass('water')
			
		})
	})
	{% endblock %}
{% block body %}
<div id="play">
<div id="infopanel">
	<div class="menu">
	{% if tu is not null %}
		<h1>Armas</h1>
			
			<img src="{{ asset('bundles/coregame/images/weapon/1.png') }}" width="40px">
			
		
		{% else %}		
		<p>Esperando oponente<p>
		{% endif %}
</div>
		
		
	<div class="controls">
	<a class="button large" href="{{ path('game') }}">Menú</a>
	<a class="button red large" href="#">Rendición</a>
	</div>
</div>

<div id="gamepanel">
<div class="turno">
<div id="propio" class="tablero map1" style="" game="{{ game.id }}" opponent-turn="1">
	{% for i in range(1,8) %}
	{% for j in range(1,8) %}
	<div class="block" id="{{ i }}{{ j }}" c="{{ i }}" f="{{ j }}" >
	</div>
	{% endfor %}
	<div style="clear:both"></div>
	{% endfor %}
</div>
</div>

</div>



{% endblock %}